<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="JavaScript, Node, Nunjucks, Express, MySQL, App" />
    <meta name="author" content="Sara Ragel" />
    <meta name="description" content="Una app sencilla donde los usuarios pueden colgar sus quejas" />
    <link rel="stylesheet" href="/static/styles.css">
    <title>Quejas</title>
    <script>
        // js en el lado del cliente
    </script>
</head>

<body> 
    <header>
        <nav>
            <ul>
                <li class="bold" class="nav">
                    <a href="/newuser">Registrarse</a>
                </li>
                <li class="bold" class="nav">
                    <a href="/login">Iniciar sesión</a>
                </li>
                <li class="bold" class="nav">
                    <a href="/#">Cerrar sesión</a>
                </li>
                <li class="bold" class="nav">
                    <a href="/new">Escribe una nueva queja!</a>
                </li>
                <li class="bold" class="nav">
                    <a href="/">Volver al inicio</a>
                </li>
                <li>
                    <label class="bold" for="search">Busca una queja:</label>
                    <input class="input" type="text" name="search" placeholder="Buscar"/>
                    <!--<button type="search">Buscar</button>-->
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            {%block article%}
            {%endblock article%}
        </article>
    </main>
</body>

</html>