{% extends "base.html" %}

{% block article %}
<h1>Aquí están todas las quejas 💅</h1>

{% for complain in complains %}
<article>
    <div class="queja">
        <p class="body">{{complain.body}}</p> 
        <p>{{ dateFormat(complain.date) }}</p>
    </div>
</article>
{% else %}
<h2>Lista de quejas vacía </h2>
{% endfor %}

{% endblock article %}