{% extends "base.html" %}

{% block article %}

<form action="/login" method="POST">
    <label for="username">Usuario:</label>
    <input class="input" type="text" name="username"/>
    <label for="password">Contraseña:</label>
    <input class="input" type="password" name="password"/>
    <button type="submit">Iniciar sesión</button>
</form>

{% endblock article %}