{%extends "base.html"%}

{% block article %}

<form action="/queja" method="POST">
    <label for="keja">Nueva queja:</label>
    <textarea class="input" placeholder="Escribe tu queja!" name="keja"></textarea>
    <button type="submit">Subir</button>
</form>

{% endblock article %}