{%extends "base.html"%}

{% block article %} 

<section>
    <div class="queja">
        <p class="body">{{ complain.body }}</p> 
        <p>{{ dateFormat(complain.date) }}</p> 
    </div>
</section>


{% endblock article %}s