* {
    font-family: 'Fira Code', monospace;
    background-color: #F2EFE9;
    color: #252627;
    font-size: 11pt;
    text-align: center;
    align-items: center;
    justify-content: center; 
}
h1 {
    font-size: 30pt;
}
h2 {
    font-size: 25pt;
}
.queja {
    border: #252627 solid;
    border-width: 1px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    /* width: 500px; */
}
ul {
    display: flex;
    list-style: none;
}
li {
    padding-left: 15px;
    padding-right: 15px;
}
button {
    background-color: #252627;
    color:#F2EFE9;
    padding: 7.5px;
}
.body {
    font-weight: bold;
}
.bold {
    font-weight: bold;
}
.input {
    border: #252627 solid;
    border-width: 1px;
}